page {
  background-color: #F8F8F8;
  --default-bg-color: #3489FE;
  --default-bg-color-rgba: rgba(52, 137, 254);
  --default-text-color: #010000;
  --default-text-light-color: #FFFFFF;
}

.cu-form-group .title {
  min-width: calc(5em + 15px);
}

.line-default::after,
.lines-default::after {
  border-color: var(--default-bg-color);
}

.bg-default {
  background-color: var(--default-bg-color);
  color: #010000;
}

.bg-default.light {
  color: var(--default-bg-color);
  background-color: var(--default-text-light-color);
}

.shadow[class*="-default"] {
  box-shadow: 3px 3px 4px var(--default-text-light-color);
}

.text-shadow[class*="-default"] {
  text-shadow: 3px 3px 4px var(--default-text-light-color);
}

.text-default,
.line-default,
.lines-default {
  color: var(--default-bg-color);
}

.text-666 {
  color: #666666;
}

.text-999 {
  color: #999999;
}

.text-link {
  color: #4466AD;
}

.bg-light-grey {
  background-color: #F8F8F8;
  color: #333333;
}

.radius20 {
  border-radius: 20rpx;
}

.full-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  transition: all 0.3s ease-in-out 0s;
  display: none;
}

.full-modal.mask {
  background-color: rgba(0, 0, 0, 0.4);
}

.full-modal.show {
  display: block;
  transition-duration: 0.3s;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
}

.line-two {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.empty-wrap {
  padding: 100rpx 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-wrap .empty-image {
  width: 250rpx;
  height: 250rpx;
}

.empty-wrap .empty-text {
  font-size: 28rpx;
  line-height: 1.7em;
  color: #666666;
}

.full-modal .content {
  width: 100%;
  height: calc(100% - 150rpx);
  padding-top: 120rpx;
}

.full-modal .action {
  height: 150rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-modal .action .action-btn {
  width: 360rpx;
  height: 80rpx;
  background: #018EE6;
  border-radius: 7rpx;
  font-size: 33rpx;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 80rpx;
  text-align: center;
}

.transparent-btn {
  background-color: transparent;
  border: unset;
  padding: 0;
  margin: 0;
  line-height: unset;
}

.transparent-btn:before, .transparent-btn:after {
  border: unset;
}

.disabled-scroll {
  overflow: hidden;
}

// title
.title {
  font-size: 32rpx;
  font-family: PingFang SC;
  font-weight: bold;
  line-height: 40rpx;
  color: #333333;
  padding: 30rpx;
  position: relative;

  &.center {
    text-align: center;
  }

  .action {
    position: absolute;
    top: 30rpx;
    right: 30rpx;
    height: auto;
    color: #999999;
  }
}

// form
.form-wrap {
  .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30rpx;
    background-color: #FFFFFF;
    min-height: 110rpx;
    position: relative;

    &:not(:last-child):after {
      content: "";
      position: absolute;
      left: 30rpx;
      right: 30rpx;
      bottom: 0;
      border-bottom: 1px solid #E5E5E5;
    }

    .label {
      width: 150rpx;
      font-size: 32rpx;
      font-family: PingFang SC;
      font-weight: 400;
      line-height: 50rpx;
      color: #333333;
    }

    .value {
      flex: 1;
      text-align: right;

      input, picker {
        height: 50rpx;
        line-height: 50rpx;
        padding-right: 20rpx;
        position: relative;
      }

      picker {
        padding-right: 40rpx;

        &:after {
          font-family: cuIcon;
          display: block;
          content: "\e6a3";
          position: absolute;
          font-size: 34rpx;
          color: #8799a3;
          line-height: 50rpx;
          width: 60rpx;
          text-align: center;
          top: 0;
          bottom: 0;
          right: -20rpx;
          margin: auto;
        }
      }
    }
  }

  .submit-wrap {
    padding: 50rpx 30rpx;

    .btn {
      width: 690rpx;
      height: 80rpx;
      border-radius: 10rpx;
      font-size: 32rpx;
      font-family: PingFang SC;
      font-weight: 500;
      line-height: 80rpx;
      text-align: center;

      & + .btn {
        margin-top: 30rpx;
      }

      &.disabled {
        opacity: .5;
      }

      &.submit-btn {
        background-color: #3489FE;
        color: #FFFFFF;
      }

      &.delete-btn {
        background-color: #dd524d;
        color: #FFFFFF;
      }
    }
  }
}

// student select
.student-select {
  padding: 20rpx 30rpx;

  &.no-padding {
    padding: 0 0 20rpx 0;

    .student-option {
      width: 750rpx;
      border-radius: 0;
    }
  }

  .student-option {
    width: 690rpx;
    height: 130rpx;
    background-color: #FFFFFF;
    border-radius: 10rpx;
    padding: 20rpx;
    position: relative;

    &.selected {
      border: 4rpx solid $uni-color-primary;
    }

    &.disabled {
      border: 4rpx solid $uni-text-color-disable;
    }

    .selected-bg {
      position: absolute;
      right: 0;
      top: 0;
      width: 50rpx;
      height: 50rpx;
      border-left: 50rpx solid transparent;
      border-top: 50rpx solid $uni-color-primary;
    }

    .selected-icon {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 25rpx;
      line-height: 25rpx;
      color: #FFFFFF;
    }

    & + .student-option {
      margin-top: 30rpx;
    }

    .name {
      font-size: 30rpx;
      font-family: PingFang SC;
      line-height: 50rpx;
      color: #333333;
    }

    .idcard {
      font-size: 28rpx;
      font-family: PingFang SC;
      line-height: 40rpx;
      color: #666666;
    }

    &.create {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #999999;

      .cuIcon-add {
        font-size: 50rpx;
      }

      .notice {
        font-size: 20rpx;
      }
    }
  }
}
